/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    color: #180c4b;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-image: url('background.jpg'),0.1; Background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(182, 182, 182, 0.803); /* Semi-transparent overlay */
    color: #333; /* Text color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    border-style: solid;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 20px;
    
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}

#about{
   color: #333; 
   
}

body  h1{
text-decoration: underline solid;
}

